*{
    /*touch-action:   https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action*/

      touch-action: pan-x pan-y;
}
body { 
    margin: 0;
    width: 100%;
    overflow:hidden;
}
.topMenu{
  font-size: 20px;
  background-color: #DDDDDD;
  /* color: #9bd3f9; */
}
a{
  text-decoration: none;
}
.topMenu a:link{
  color: blue;
}
.topMenu a:visited{
  color: blue;
}
.topMenu a:hover{
  color: #5555FF;
}
#myCanvas {
    margin: 0;
    border: 0;
    padding: 0;
}











